@using NorthWND_Models.Entities.Concreate
@model Employee

<script>
    document.addEventListener('DOMContentLoaded',
        function () {
            const navItems = document
                .querySelectorAll('.aktif');
            console.log(navItems);
            navItems.forEach(item => {
                item.addEventListener('click',

                    function () {
                        navItems.forEach(navItem => navItem
                            .classList.remove('active'));
                        this.classList.add('active');

                    });
            });
        });


</script>


<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="~/adminPanel/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="@Model.PhotoPath" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">@(Model.FirstName + " " + Model.LastName)</a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item menu-open">
                    <a href="#" class="nav-link ">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Yönetimsel İşler
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/AdminPanel/Product/Index" class="nav-link aktif">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Ürün Yönetimi</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/AdminPanel/Kategori/Index" class="nav-link aktif">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Kategori Yönetimi</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="/AdminPanel/Tedarikci/Index" class="nav-link aktif">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Tedarikçi Yönetimi</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/AdminPanel/Employee/Index" class="nav-link aktif">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Çalışan Yönetimi</p>
                            </a>
                        </li>
                    </ul>
                </li>


            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>


